[submodule "plugged/YouCompleteMe"]
	path = plugged/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "plugged/vimtex"]
	path = plugged/vimtex
	url = https://github.com/lervag/vimtex
[submodule "plugged/vim-commentary"]
	path = plugged/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "plugged/syntastic"]
	path = plugged/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "plugged/vim-sensible"]
	path = plugged/vim-sensible
	url = https://github.com/tpope/vim-sensible
